
body {
    background-color: #f0f0f0;
}

textarea {
    font-family: monospace;
    font-size: 70%;
}

.line {
    border-bottom: dotted 2px #eeeeee;
    padding-bottom: 0.5em;
    /*margin-bottom: 0.5em;*/
    margin-bottom: 1em;
}

fieldset {
    border: 0.1em solid #cccccc;
}

.italic {
    font-style: italic;
}

.redItalic {
    color: red;
    font-style: italic;
}

.active {
    font-weight: bold;
}
